<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<!-- <link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./src/css/b.css"> -->
		<style>
			.parent {
				background-color: #f7f7f7;
				border: 1px solid #999;
				display: grid;
				grid-template-columns: 100px 100px 100px;
				grid-template-rows: 100px 100px 100px;
			}

			.son {
			}
		</style>
	</head>
	<!-- 浏览器中无法使用common规范导入 -->
	<!-- <script src="./src/index.js"></script> -->

	<body>
		<div class="parent">
			<div class="son"></div>
			<div class="son"></div>
			<div class="son"></div>
			<div class="son"></div>
			<div class="son"></div>
			<div class="son"></div>
		</div>
		<h1>我是index.html</h1>
		<a href="http://localhost:3001/other.html">跳转other</a>
		<a href="/other.html">跳转other2</a>
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<!-- <img src="../assets/a2.png" alt="" /> -->
			<!-- <img src="./images/img_a.png" alt="" /> -->
			<!-- <img src="<%= require('./images/img_a.png').default %>" alt="" /> -->
			<!-- 使用模板引入图片也会被打包, 就算注释也会被打包 -->
			<hh>123</hh>
		</ul>
		<!-- <script src="/boundle.js"></script> -->
	</body>
</html>
